{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width={device-width}, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %} Restaurant System {% endblock %}</title>
</head>
<body>
    <header>
        <h1>L'Artista</h1>
    </header>
    <section class="btns">
        <p class="nav-bar">
            <a href="{% url 'home' %}">
                <button class="home-btn">Home</button>
            </a>
            <a href="{% url 'login' %}">
                <button class="login-btn">Login</button>
            </a>
            <a href="">
                <button class="sign-up-btn">Sign up</button>
            </a>
            <a href="{% url 'booking_page' %}">
                <button class="booking-btn">Book</button>
            </a>
            <a href="http://www.lartistaletchworth.com/menu/images/menu_Letchworth2022.pdf" target="_blank">
                <button class="menu-btn">Menu</button>
            </a>
            <a href="{% url 'gallery' %}">
                <button class="gallery-btn">Gallery</button>
            </a>
        <p></p>
        
    </section>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
</body>
<footer>
    
    <footer id="contact-us">
            <p><b>Phone:</b> 0161 676 7770 &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
                <b>Adress:</b> 9 Eastcheap, Letchworth Garden City SG6 3DG</p>
        
        <!-- social media links -->
        <ul class="social-networks">
            <li>
                <a href="http://facebook.com" target="_blank" rel="noopener"
                    aria-label="Visit our Facebook page (opens in new tab)"><i
                        class="fa-brands fa-square-facebook"></i></a>
            </li>
            <li>
                <a href="http://twitter.com" target="_blank" rel="noopener"
                    aria-label="Visit our Twitter page (opens in new tab)"><i
                        class="fa-brands fa-square-twitter"></i></a>
            </li>
            <li>
                <a href="http://instagram.com" target="_blank" rel="noopener"
                     aria-label="Visit our Instagram page (opens in new tab)"><i
                        class="fa-brands fa-square-instagram"></i></a>
            </li>
            <li>
                <a href="http://youtube.com" target="_blank" rel="noopener"
                    aria-label="Visit our youtube page (opens in new tab)"><i
                        class="fa-brands fa-square-youtube"></i></a>
            </li>
        </ul>
    </footer>
    
        <script src="https://kit.fontawesome.com/2cc81c8112.js" crossorigin="anonymous"></script>
</footer>
</html>