{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<section>
    <div>
        <img class="desert-img" src="../static/images/desert.jpeg" alt="">
    </div>
    <div>
        <img class="chef-pizza-img" src="../static/images/chef-pizza.jpeg" alt="">
    </div>
    <div>
        <img class="food-img" src="../static/images/food.webp" alt="">
    </div>
    <div>
        <img class="pizza-img" src="../static/images/pizza.jpeg" alt="">
    </div>
    <div>
        <img class="pasta-img" src="../static/images/dining-pasta.jpeg" alt="">
    </div>
    <div>
        <img class="fish-img" src="../static/images/fish.jpeg" alt="">
    </div>
    <div>
        <img class="drinks-img" src="../static/images/drinks.jpeg" alt="">
    </div>

 
    
 
    
</section>

{% endblock %}