{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
{% if user.is_authenticated %}
    Hi {{ user.username }}!
    <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
{% endif %}

<section id="hero-outer">
    <div id="hero-image"></div>
</section>
<section id="about-us">
    <h2>Our Restaurant</h2>
    <div class="about-us-container">
        <hr>
        <p>
            L'artista was established in 2017 with a view to bring the best of Italian cuisine and fine dining experience 
            to the heart of Letchworth Garden City. In order to accomplish this we set out to make sure our menu was modernised 
            with the authentic Italian feel that would prove to be very successful for our local customers.
        </p>
        <hr>
        <p>
            You can expect a dining experience that shall leave only the best impression on you when you come to visit 
            L'Artista with customers from every age range catered for. Our atmosphere is well reknowned in the local area
            and you can expect impeccable customer service with our staff being of exceptional standard.
        </p> 
        <hr>
        <p>  
            People come just to try our home-made pizzas, knowing that our dough is freshly prepared in front of you using only 
            the finest ingredients. L'artista has introduced many different varieties of pasta from all over Italy and also a wide 
            variety of typical Italian antipasti (starters) as well as meat and fish dishes. With such a varied and extensive menu, 
            there is something for everyone including Vegetarians. Many of our customers return months after months, years after 
            years and are constantly telling us that the atmosphere is so friendly and casual, 'eating in L'artista feel like 'eating
            in a pizzeria in Italy while you are in the heart of garden city of Letchworth.
        </p>
        <hr>
    </div>
</section>

{% endblock %}