{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
    <title>Welcome Page</title>
    <header>
        <h1>Restaurant Name</h1>
    </header>

<body>
    <section>
        <p class="nav-bar">
            <a href="">
                <button class="login-btn">Login</button>
            </a>
            <a href="">
                <button class="sign-up-btn">Sign up</button>
            </a>
            <a href="https://www.beefeater.co.uk/en-gb/main-menu/beefeater_main_menu_band4.pdf" target="_blank">
                <button class="menu-btn">Menu</button>
            </a>
        <p></p>
        
    </section>
    <div class="menu">
        <h3>Menu</h3>
    </div>
    <div class="reservations">
        <h3>Book a table</h3>
    </div>
        
</body>
<footer>
    Contact details
</footer>
</html>