{% extends 'base.html' %}

{% block content %}
<h2>Welcome to my booking page</h2>

{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}

<div class="column">
    <section>Customers</section>
    <p>Make a reservation</p>
    <a href="{% url 'create_booking' %}">Book</a>

    <section>Admin</section>
    <p>Add Timeslot</p>
    <a href="{% url 'add_timeslot' %}">Add</a>
</div>

{% for booking in bookings %}
<div>
        <p>Booking ID: {{ booking.id }}</p>
        <p>Date: {{ booking.date }}</p>
</div>

{% endfor %}
{% endblock %}
