{% extends 'base.html' %}

{% block content %}
<h2>Booking</h2>

{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}

<div class="column">
    <section>Customers:</section>
    <a href="{% url 'create_booking' %}">Book a table</a>

    <section>Admin:</section>
    <a href="{% url 'add_timeslot' %}">Add a timeslot</a>
</div>

{% for booking in bookings %}
<div>
        <p>Date: {{ booking.timeslot.date.date }}</p>
        <p>Time Slot: {{ booking.timeslot.time }}</p>
        <a href="{% url 'edit_booking' booking.id %}">Edit</a>
        <a href="{% url 'delete_booking' booking.id %}" 
        onclick="return confirm('Are you sure you wish to cancel your booking')">Delete</a>
</div>

{% endfor %}
{% endblock %}
