body {
    background-color: white;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    /* background-color: black;
    padding-top: 25px;
    height: 100px; */
    background-color: #FFFDD0;
    color: black;
    padding: 20px 0;
    text-align: center;
    font-size: 50px;


}

h1 {
    /* color: green;
    background-color: black;
    text-align: center;
     */
     margin: 0;
}

.nav-bar {
    text-align: center;
}
.home-btn:hover {
    background-color: bisque;
    cursor: pointer;
}
.menu-btn:hover {
    background-color: bisque;
    cursor: pointer;
}
.sign-up-btn:hover {
    background-color: bisque;
    cursor: pointer;
}
.login-btn:hover {
    background-color: bisque;
    cursor: pointer;
}
.booking-btn:hover {
    background-color: bisque;
    cursor: pointer;
}
.gallery-btn:hover {
    background-color: bisque;
    cursor: pointer;
}

.menu-btn {
    border-radius: 25%;
    height: 75px;
    width: 105px;
    background-color: #FFFDD0;
    font-size: 25px;
    font-weight: 100;
    /* margin: 50px; */
    color: black;
}

.sign-up-btn {
    border-radius: 25%;
    height: 75px;
    width: 105px;
    background-color: #FFFDD0;
    font-size: 25px;
    font-weight: 100;
    /* margin: 50px; */
    color: black;
}

.login-btn {
    border-radius: 25%;
    height: 75px;
    width: 105px;
    background-color: #FFFDD0;
    font-size: 25px;
    font-weight: 100;
    /* margin: 50px; */
    color: black;
}

.home-btn {
    border-radius: 25%;
    height: 75px;
    width: 105px;
    background-color: #FFFDD0;
    font-size: 25px;
    font-weight: 100;
    /* margin: 50px; */
    color: black;
}

.booking-btn {
    border-radius: 25%;
    height: 75px;
    width: 105px;
    background-color: #FFFDD0;
    font-size: 25px;
    font-weight: 100;
    /* margin: 50px; */
    color: black;
}

.gallery-btn {
    border-radius: 25%;
    height: 75px;
    width: 105px;
    background-color: #FFFDD0;
    font-size: 25px;
    font-weight: 100;
    /* margin: 50px; */
    color: black;
}

#hero-outer {
    /* height: 900px;
    width: 100%; */
    overflow: hidden;
    margin-top: 5px;
}

#hero-image {
    height: 900px;
    width: 100%;
    background: url(../images/italian-dining.webp) no-repeat center center;
    background-position: center top;
}

.menu {
    text-align: center;
}


.reservations {
    text-align: center;
}

footer {
    color: black;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #FFFDD0;
    text-align: center;
    max-height: fit-content;
    height: 100px;
}

#contact-us {
    font-size: 25spx;
}




.social-networks {
    text-align: center;
    position: relative;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: black;
}

footer > div {
    text-align: center;
}