body {
    background-color: aqua;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    /* background-color: black;
    padding-top: 25px;
    height: 100px; */
    background-color: black;
    color: white;
    padding: 20px 0;
    text-align: center;


}

h1 {
    /* color: green;
    background-color: black;
    text-align: center;
     */
     margin: 0;
}

.nav-bar {
    text-align: center;

}

.menu-btn {
    border-radius: 25%;
    height: 75px;
    width: 105px;
    background-color: green;
    font-size: 25px;
    font-weight: 100;
    margin: 50px;
}

.sign-up-btn {
    border-radius: 25%;
    height: 75px;
    width: 105px;
    background-color: green;
    font-size: 25px;
    font-weight: 100;
    margin: 50px;
}

.login-btn {
    border-radius: 25%;
    height: 75px;
    width: 105px;
    background-color: green;
    font-size: 25px;
    font-weight: 100;
    margin: 50px;
}


.menu {
    text-align: center;
}


.reservations {
    text-align: center;
}

footer {
    color: white;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    text-align: center;


}
